.NumericButton{
    background-color: rgb(247, 247, 247);
    border-color: antiquewhite;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content:center;
    align-items: center;
    transition:  .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.NumericButton:hover{   background-color: rgba(202, 202, 202, 0.812); cursor: default; }